@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1349px;
  margin: 0 auto;
  box-sizing: border-box;
}

.bg-color {
  background-color: #dbeafe;
}

.title {
  color: #1a3478;
  font-family: 'Nunito', sans-serif;
}

.text {
  color: #0c142e;
}

.shadow {
  box-shadow: 1px 21px 43px -4px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: 1px 21px 43px -4px rgb(19 37 83);
  -moz-box-shadow: 1px 21px 43px -4px rgba(0, 0, 0, 0.93);
}